<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

{% set serviceName = "NHSBSA Components"%}
{% set mainClasses = "nhsuk-u-padding-top-4" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
Session Timeout and Cookie Component
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Session Timeout and Cookie Component",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
  {{ sessionTimeoutWarning({
    redirectOnSessionTimeout: true,
    sessionTimeout: 30,
    sessionTimeoutWarning: 20,
    heading: "You will be signed out soon",
    timerText: "For your security, you will be signed out in",
    extraText: "This is to protect your data",
    buttonText: "Continue",
    urlRedirect: "/timed-out"
}) }}
{% endblock %}


{% block beforeContent %}
<div class="nhsuk-width-container nhsuk-u-padding-top-4">
  {% if not hideBack %} <!-- function to hide back link -->
  {{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
  }) }}
  {% endif %}
</div>

{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
